.CheckOut-Page {
    height: 100vh;
    background-color: #fff4e3;
  }
  .checkout-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .checkout-container p {
    padding-bottom: 10px;
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .checkout-container img {
    padding-bottom: 10px;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  button.button_1 {
    margin-bottom: 5px !important;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #000;
    font-size: 15px;
    font-family: poppins, sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    background-color: transparent;
    cursor: pointer;
    user-select: none; /* Prevents text selection */
    outline: none;
  }
  
  .linktomain {
    text-decoration: none;
  }
  
  button.button_2 {
    text-decoration: underline;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #000;
    font-size: 15px;
    font-family: poppins, sans-serif;
    font-weight: 600;
    background-color: #f4d682;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: inset 1px 4px 10px rgba(0, 0, 0, 0.3),
      inset -4px -4px 10px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    user-select: none; /* Prevents text selection */
    outline: none;
  }