.cart {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
    bottom: 120px;
    right: 10px;
    overflow-y: hidden;
  }
  
  .cart-container {
    position: relative;
    display: inline-block;
  }
  
  .cart-count {
    position: fixed;
    bottom: 155px;
    right: 10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
  }

